.Planet {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}
.Planet.Shadow {
    /* height: 100%; */
    /* position: static; */
}

@keyframes PlanetRotate {
	to {
		transform: translate(-50%, -50%) rotate(-360deg);
	}
}